/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-top: 5px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffa500; /* Laranja */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff8c00; /* Laranja escuro */
  }
  
  .cancelar-button {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    background-color: #8b0000; /* Vermelho escuro */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelar-button:hover {
    background-color: #800000; /* Vermelho escuro mais escuro */
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
  